<form action="<%= form_action %>" method="post">
  <input class="" type="hidden" name='search_string' value="<%= params[:search_string] %>">
  <table class="table">
    <thead>
    <tr>
      <th colspan="2" class="align-middle">
        <input class="form-check-input" type="checkbox" id="select_all" value="1">
        <label class="form-check-label" for="select_all">Select All</label>
      </th>
      <th colspan="1" class="align-middle">
        <button type="submit" class="btn btn-primary mb-2"><%= button_text %></button>
      </th>
      <th colspan="2" class="align-content-end">
        <a class="float-end" href="<%= link_target %>"><%= link_text %></a>
      </th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <% companies.each do |company| %>
      <tr>
        <th scope="row">
          <% checked = @saved_companies.include?(company['company_number']) ? 'checked="checked"' : '' %>
          <input class="form-check-input select_company" type="checkbox" name='selected_company[]' id="chk_box_<%= company['company_number'] %>" value="<%= company['company_number'] %>" <%= checked %>>
        </th>
        <th scope="row"><%= company['company_number'] %></th>
        <td><%= company['title'] %></td>
        <td><%= company['description'] %></td>
        <td>@<%= company['company_status'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</form>
